<div class="filler"></div>


<div class="container">
  <div class="row">
    <div class="col-md-7">
      <% friends.each do |user| %>
        <div class="row friend-card-wrapper">
          <div class="col-md-4 friend-card-left">
            <h3><%= user.first_name %> <%= user.last_name %></h3>
            <% if user.photo.attached? %>
              <%= cl_image_tag user.photo.key %>
            <% else %>
              <%= image_tag "https://source.unsplash.com/#{rand(1200..1400)}x#{rand(900..1000)}/?face,men,woman", class: "friend-image" %>
            <% end %>
          </div>
          <div class="col-md-4 friend-card-center">
            <div class="common-friends-box">
              <h3>Mutual friends</h3>
              <% current_user.common_friends(user).each do |common_friend| %>
                <% if common_friend.photo.attached? %>
                  <%= cl_image_tag common_friend.photo.key %>
                <% else %>
                  <img src="https://cdn2.vectorstock.com/i/1000x1000/38/21/male-face-avatar-logo-template-pictogram-vector-11333821.jpg" alt="">
                <% end %>
              <% end %>
            </div>
            <div>
              <% if current_user.pending_friends.include?(user) %>
                Friendship Requested
              <% elsif current_user.friends.include?(user) %>
                <p style="opacity: 0.6">Accepted</p>
                <% else %>
                  <%= link_to "Add!", add_friends_path(user), method: :post, class: "btn btn-primary", style:"font-size: 12px; margin-top: 10px;" %>
              <% end %>
            </div>
          </div>
          <div class="col-md-4 friend-card-right">
            <h3>Flats</h3>

            <% if user.flats.empty? %>
              <p>No flat for the user</p>
            <% elsif user.flats.any? && user.flats.first.photos[0].nil? %>
              <%= user.flats.first.title %>
              <p>No images</p>
            <% else %>
              <%= link_to user.flats.first.title, flat_path(user.flats.first) %>
              <%#= cl_image_tag user.flats.first.photos[0].key %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>


    <div class="col-md-5">

      <div id="map"
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

    </div>
  </div>
</div>

<%# friends.each do |user| %>

  <%#unless user.blocked_friends.include? current_user %>

  <h2><%#= user.first_name %></h2>
  <p><%#= user.email %></p>

  <%# if current_user.pending_friends.include?(user) %>
  <!-- "Friendship Requested" -->
    <%# elsif current_user.friends.include?(user) %>
     <!-- Accepted -->

    <%#= link_to "Remove", remove_friends_path(user), method: :post %>
  <%# else %>
    <%#= link_to "Add", add_friends_path(user), method: :post %>
  <%# end %>


<%# end %>
<%# end %>
