<form action="/find_friends">
  <input type="text" name="query">
  <input type="submit">
</form>



<ul id="myTab2" role="tablist" class="nav nav-tabs nav-pills with-arrow lined flex-column flex-sm-row text-center">
  <li class="nav-item flex-sm-fill">
    <a id="home2-tab" data-toggle="tab" href="#home2" role="tab" aria-controls="home2" aria-selected="true"
      class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 active">Add Friends</a>
  </li>
  <li class="nav-item flex-sm-fill">
    <a id="profile2-tab" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile2"
      aria-selected="false" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0">Friend Request</a>
  </li>
  <li class="nav-item flex-sm-fill">
    <a id="contact2-tab" data-toggle="tab" href="#contact2" role="tab" aria-controls="contact2"
      aria-selected="false" class="nav-link text-uppercase font-weight-bold rounded-0">Your Friends</a>
  </li>

</ul>

    <div id="myTab2Content" class="tab-content">

      <div id="home2" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade px-4 py-5 show active">
      
            <% @users.each do |user| %>

            <% unless user.blocked_friends.include? current_user %>
              
              <h2><%= user.first_name %></h2> 
              <p><%= user.email %></p>


            <% if current_user.pending_friends.include?(user) %>
              "Friendship Requested"

            <% elsif current_user.friends.include?(user) %>
                "Accepted"

            <% else %>

            <%= link_to "Add", add_friends_path(user), method: :post %>
            <% end %>
        
        <% end %>
            <%= link_to "Remove", remove_friends_path(user), method: :post %>
      <% end %>

      </div>
      
      <div id="profile2" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade px-4 py-5">
        <ul>

          <% current_user.requested_friends.each do |user| %>

          <li>
            <%= user.first_name %> wants to be your friend <%= link_to "Accept", accept_friends_path(user), method: :post  %>
            <%= link_to "Decline", decline_friends_path(user), method: :post  %>

          </li>
          <% end %>

          </ul>
      </div>
      <div id="contact2" role="tabpanel" aria-labelledby="contact-tab" class="tab-pane fade px-4 py-5">
        <% current_user.friends.each do |user| %>
          <%= user.email %>
          <%= link_to "Block", block_friends_path(user), method: :post  %>
          <%= link_to "Remove", remove_friends_path(user), method: :post  %>
        <% end %>
      </div>
    </div>
  