<div class="filler"></div>




  <form action="/find_friends">
      <div class="d-flex">
        <input type="text" id="searchBar" name="query" placeholder="Search Friends...">
        <button type="submit" id="search-btn"><i class="material-icons">search</i></button>
      </div><%# <input type="submit" class="btn btn-primary-info ml-2"> %>
    </form>

    <p class="text-right mr-4">
      <%= link_to new_user_registration_path(user: { referral_token: current_user.referral_token }) do %>
        <i class="fas fa-compress-arrows-alt"></i>
        Share this link to invite your friends
      <% end %>
    </p>

<div class="container-fluid">
  <ul class="nav nav-tabs with-arrow lined  text-center nav-pills with-arrow lined flex-column flex-sm-row text-center" id="myTab" role="tablist">

    <li class="nav-item flex-sm-fill"><i class="fas fa-user-plus"></i>
      <a class="nav-link active text-uppercase font-weight-bold mr-sm-3 rounded-0 active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Add Friends</a>

    <li class="nav-item flex-sm-fill"><i class="fas fa-user-clock"></i>
      <a id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"  class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0">Friend Request</a>
    </li>

    <li class="nav-item flex-sm-fill"><i class="fas fa-users"></i>
      <a id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" class="nav-link text-uppercase font-weight-bold rounded-0">Your Friends</a>
    </li>

  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <%= render 'friend_list_page', friends: @users %>
    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

    <div class="container-fluid ">
        <div class="row">
          <% current_user.requested_friends.each do |pf| %>
            <div class="card hoverable">
                    <% if pf.photo.attached? %>
                      <%= cl_image_tag pf.photo.key, width: 270, height: 200, crop: :fill, class: "card-trip-user" %>
                    <% else %>
                      <img src="https://www.agriuniverse.co.zw/media/com_easysocial/photos/232/582/man-avatar-icon-flat-vector-19152370_large.jpg" class="card-trip-user" id="user-avatar" />
                    <% end %>
                    <p><%= pf.first_name %></p>
                    <p><%= pf.last_name %></p>
                  <div class="card-action">
                    <%= link_to "Accept", accept_friends_path(pf), method: :post, class: "btn btn-ghost" %>
                    <%= link_to "Decline", decline_friends_path(pf), method: :post, class: "btn btn-ghost" %>
                </div>
              </div>
          </div>
            <% end %>
        </div>
      </div>
    </div>



    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

      <% current_user.friends.each do |user| %>
        <div class="container-fluid">
          <div class="row">
              <div class="card hoverable">
                <% if user.photo.attached? %>
                  <%= cl_image_tag user.photo.key, width: 270, height: 200, crop: :fill, class: "card-trip-user" %>
                    <% else %>
                      <%= image_tag "logo.png", alt: "avatar", class: "card-trip-user" %>
                    <% end %>
                    <div>
                      <span><strong><%= user.first_name %></strong></div>
                      <span><strong><%= user.last_name %></strong></span>
                      <p><strong><%= user.email %></strong></p>
                    <div class="card-action">
                      <%= link_to "Block", block_friends_path(user), method: :post, class:"btn btn-cancellation" %>
                      <%= link_to "Remove", remove_friends_path(user), method: :post, class:"btn btn-cancellation"  %>
                    </div>
                    </div>
                </div>
              </div>
            </div>
        <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


