
<div class="filler"></div>



<div class="container mailbox">
 <h3 class="mb-title">Mailbox</h3>
 <div class="contacts">
   <% @conversations.each do |conversation| %>
    <% unless conversation.messages.empty? %>
      <%= link_to conversation_messages_path(conversation), class: "remove-decoration" do %>
      <div class="item">
       <% if conversation.sender_id == current_user.id ||      conversation.recipient_id == current_user.id %>
        <% if conversation.sender_id == current_user.id %>
          <% recipient = User.find(conversation.recipient_id) %>
        <% else %>
          <% recipient = User.find(conversation.sender_id) %>
        <% end %>
         <div class="d-flex mb-decoration">
          <p class="sender-name"><%= recipient.first_name %></p>
          <div class="mb-text"><%= conversation.messages.last.body.truncate(35).capitalize %></div>
        </div>
       <% end %>
      </div>
      <% end %>
    <% end %>
  <% end %>
 </div>
</div>

<div class="container mailbox my-4">
 <h3 class="mb-title">All Users</h3>
  <div class="contacts">
   <% @users.each do |user| %>
      <% if user.id != current_user.id %>
       <div class="item">
      <%#= user.avatar %> <%= user.first_name %> <%= link_to 'Message', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', class: "btn btn-ghost"%> -->
        </div>
    <% end %>
 <% end %>
 </div>
</div>

