
  <h2>Flats</h2>



    <% @flats.each do |flat| %>

  


      <%= link_to flat.title, flat_path(flat) %>

          <p> <%= flat.description %></p>

          
            <p> <%= flat.address %></p>
            <p>$<%= flat.price %></p>
          

          <img src="https://kitt.lewagon.com/placeholder/users/marko-polo-code" class="card-trip-user avatar-bordered" />


      <% end %>


    <%= link_to "List your flat", new_flat_path %>
   