

<div class="container-fluid px-5">
  <div class="row">
    <div class="col-md-8">
       <% @flats.each do |flat| %>
          <div class="flat-card row">
            <div class="card-img-box col-sm-5">
            <img src="https://source.unsplash.com/<%=rand(1400..1600) %>x900/?luxury-apartment" alt="" class="card-img-top hoverable">

            </div>
            <div class="col-sm-7 card-text-box">
              <h1><%= link_to flat.title, flat_path(flat) %></h1>
              <p> <%= flat.description.truncate(150) %></p>
              <p> <%= flat.address %></p>
              <p>$<%= flat.price %></p>

            </div>
          </div>
       <% end %>
    </div>
    <div class="col-md-4">
        <div id="map"
        style="width: 100%; height: 100vh"        
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>

    </div>
  </div>
</div>


<a class="top-link hide" href="" id="js-top">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6"><path d="M12 6H0l6-6z"/></svg>
  <span class="screen-reader-text">Back to top</span>
</a>

