
<h2>Flats</h2>

<div class="container">
            <% @flats.each do |flat| %>


  <div class="row">
     <div class="col-md-8 col-sm-12">


    <div class="card-trip">

        <img src="https://source.unsplash.com/<%=rand(1400..1600) %>x900/?flat" />
        <div class="card-trip-infos">
          <%= link_to flat.title, flat_path(flat) %>

          <div>
              <p> <%= flat.description %></p>
              <p> <%= flat.address %></p>
              <p>$<%= flat.price %></p>
          </div>

            <img src="https://kitt.lewagon.com/placeholder/users/marko-polo-code" class="card-trip-user avatar-bordered" />


        </div>
      </div>
    </div>

      <div class="col-md-4">
        <div id="map"
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
  </div>
  <% end %>
</div>





