<div class="container">
  <div class="row">
     <div class="col-md-8 col-sm-12">
        <div class="d-flex border-bottom justify-content-between">
          <div class="d-flex flex-column align-items-center">

            <%= simple_form_for(@flat) do |f| %>
              <%= f.input :title %>
              <%= f.input :description %>
              <%= f.input :address %>
              <%= f.input :price %>
              <%= f.input :swappable, as: :radio_buttons %>
              <%= f.input :number_of_guests %>
              <%= f.input :number_of_bedrooms %>
              <%= f.input :number_of_bathrooms %>
              <%= f.input :number_of_beds %>
              <%= f.fields_for :flat_perk do |fp| %>
                <%= fp.input :perk, collection: Perk.all, input_html: { multiple: true, class: "select2" } %>
              <% end %>
              <%= f.input :photos, as: :file, input_html: { multiple: true } %>

              <%= f.submit %>
            <% end %>

          </div>
        </div>
      </div>
       <div class="col-md-4">
          <div id="map"
          style="width: 100%;
          height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
      </div>
    </div>
  </div>



