
<div class="container">
  <div class="row">
     <div class="col-8">
        <div class="d-flex border-bottom justify-content-between">
          <div class="d-flex flex-column align-items-center">


            <p><%= @flat.title %></p>
            <p>$<%= @flat.price %></p>
            <p><%= @flat.description %></p>

          

            <p><%= @flat.swappable ? "This flat is swappable" : "This flat is not swappable" %></p>
            <p>Number of bathrooms: <%= @flat.number_of_bathrooms %></p>
            <p>Number of bedrooms: <%= @flat.number_of_bedrooms %></p>
            <p>Number of beds: <%= @flat.number_of_beds %></p>
            <p>Owner:<%= @flat.user.email %></p>
          
        </div>






      </div>
    <%= link_to "Back", flats_path %></p>
    <%= link_to "Edit this flat", edit_flat_path(@flat) %>
    </div>
    <div class="col-4">
      <div id='flat-booking-dates' data-unavailable="<%= @flat.unavailable_dates.to_json %>">
          <% if current_user.id != @flat.user_id  %>
            <%= simple_form_for([@flat, @booking]) do |f| %>
                <%= f.input :start_date, as: :string, type: :text %>
                <%= f.input :end_date, as: :string, type: :text %>
                <%= f.input :number_of_guests %>
                <%= f.submit "Book", class: "btn btn-primary" %>
              <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>


