
<div class="container">
  <div class="row">
     <div class="col-8">
        <div class="d-flex border-bottom justify-content-between">
          <div class="d-flex flex-column align-items-center">


            <p><%= @flat.title %></p>
            <p>$<%= @flat.price %></p>
            <p><%= @flat.description %></p>

          

            <p><%= @flat.swappable ? "This flat is swappable" : "This flat is not swappable" %></p>

            <p>Number of bathrooms: <%= @flat.number_of_bathrooms %></p>
            <p>Number of bedrooms: <%= @flat.number_of_bedrooms %></p>
            <p>Number of beds: <%= @flat.number_of_beds %></p>
            <p>Owner:<%= @flat.user.first_name %></p>
            <img src="https://www.agriuniverse.co.zw/media/com_easysocial/photos/232/582/man-avatar-icon-flat-vector-19152370_large.jpg" class="card-trip-user avatar-bordered" />

          
        </div>






      </div>

    <%= link_to "Back", flats_path, class: "btn btn-primary" %></p>

    <% if @flat.user == current_user %>

       <%= link_to "Edit this flat", edit_flat_path(@flat), class: "btn btn-primary" %>
    <% end %>

    </div>
    <div class="col-4">
      <div id='flat-booking-dates' data-unavailable="<%= @flat.unavailable_dates.to_json %>">
          <% if current_user.id != @flat.user_id  %>
            <%= simple_form_for([@flat, @booking]) do |f| %>
                <%= f.input :start_date, as: :string, type: :text %>
                <%= f.input :end_date, as: :string, type: :text %>
                <%= f.input :number_of_guests %>
                <%= f.submit "Book", class: "btn btn-primary" %>
                <%= link_to "Swap It", new_flat_swap_request_path(@flat), class: "btn btn-primary"%>
              <% end %>
          <% end %>
        </div>
    </div>

    <div class="col-md-8">
        <div id="map"
        style="width: 100%; height: 100vh"        
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>

    </div>
  </div>
</div>


