<div class="container">

	<p>Your Booking is:<%= @booking.status %> </p>
	<p>Start Date:<%= @booking.start_date %> </p>
	<p>End Date:<%= @booking.end_date %> </p>
	<p>Price:<%= @booking.total_price %> </p>
	<p>Owner:<%= @booking.user.email %></p>

	<ul>
	<% @booking.flat.recommendations.each do |recommendation| %>

		<li>
			<%= recommendation.name %>
			<%= recommendation.address %>
			<%= recommendation.description %>
		</li>
	<% end %>

	</ul>

	<ul>
		<% @booking.flat.contacts.each do |contact| %>

		<li>
		<%= contact.phone_number %>
		<%= contact.address %>
		<%= contact.description %>
	<% end %>
	</ul>

</div>