<p>User Dashboard</p>

    <ul id="myTab2" role="tablist" class="nav nav-tabs nav-pills with-arrow lined flex-column flex-sm-row text-center">
        <li class="nav-item flex-sm-fill"><i class="fas fa-hotel"></i>
          <a id="home2-tab" data-toggle="tab" href="#home2" role="tab" aria-controls="home2" aria-selected="true"
            class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 active">My Bookings</a>
        </li>
        <li class="nav-item flex-sm-fill"><i class="far fa-pause-circle"></i>
          <a id="contact2-tab" data-toggle="tab" href="#contact2" role="tab" aria-controls="contact2"
            aria-selected="false" class="nav-link text-uppercase font-weight-bold rounded-0">Pending Request</a>
        </li>
        <li class="nav-item flex-sm-fill"><i class="fas fa-exchange-alt"></i>
          <a id="contact3-tab" data-toggle="tab" href="#contact3" role="tab" aria-controls="contact3"
            aria-selected="false" class="nav-link text-uppercase font-weight-bold rounded-0">Swap Request</a>
        </li>
    </ul>

    <div id="myTab2Content" class="tab-content">
      <div id="home2" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade px-4 py-5 show active">

        <div class="container-fluid ">
          <div class="row">
          <%@made_bookings.each do |booking|%>

        <div class="col-4">
          <div class="card">
           <div class="card-image waves-effect waves-block waves-light">
            <img src="https://source.unsplash.com/<%=rand(1400..1600) %>x900/?luxury-apartment" alt="" class="card-img-top">
        </div>
        <div class="card-content">
          <span class="card-title activator"><%= booking.flat.title %><i class="material-icons right">expand_less</i></span>
          <img src="https://www.agriuniverse.co.zw/media/com_easysocial/photos/232/582/man-avatar-icon-flat-vector-19152370_large.jpg" class="card-trip-user avatar-bordered" />
          <p><%= booking.flat.user.first_name %>- <%= booking.flat.user.last_name%></p>
            <% unless booking.status == "rejected" %>
        </div>
            <div class="card-reveal">
                <p> <%= booking.start_date %> </p>
                <p> <%= booking.end_date %> </p>
                <p>$<%= booking.flat.price %> </p>
              <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
              <%= link_to "Flat Info", flat_info_path(booking.flat), class: "btn btn-primary" %>
           </div>
          <% end %>
        </div>
      </div>
      <% end %>
        </div>
      </div>
    </div>

    <div id="contact3" role="tabpanel" aria-labelledby="contact3-tab" class="tab-pane fade px-4 py-5">

      <p>Pending Request</p>
      <div class="container-fluid">
        <div class="row">
        <% @sent_requests.each do |request| %>
          <div class="col-4">
            <div class="card">
              <% if request.status == "pending" %>
                <div class="card-image waves-effect waves-block waves-light">
                  <img src="https://source.unsplash.com/<%=rand(1400..1600) %>x900/?luxury-apartment" alt="" class="card-img-top">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"><%=request.requested_flat.title %><i class="material-icons right">more_vert</i></span>
                  <img src="https://www.agriuniverse.co.zw/media/com_easysocial/photos/232/582/man-avatar-icon-flat-vector-19152370_large.jpg" class="card-trip-user avatar-bordered" />
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"><%=request.requested_flat.title %><i class="material-icons right">close</i></span>
                  <p><%= request.requested_flat.description%></p>
                  <span><%= request.requested_flat.user.first_name%> <%= request.requested_flat.user.last_name %><span>
                  <p><%= request.status %></p>
                </div>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <p>Past Request</p>
      <div class="container-fluid">
        <div class="row">
        <% @sent_requests.each do |request| %>
          <div class="col-4">
            <div class="card">
              <% if request.status != "pending" %>
                <div class="card-image waves-effect waves-block waves-light">
                  <img src="https://source.unsplash.com/<%=rand(1400..1600) %>x900/?luxury-apartment" alt="" class="card-img-top">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"><%=request.requested_flat.title %><a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">add</i></a></span>
                  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"><%=request.requested_flat.title %><i class="material-icons right">close</i></span>
                  <p><%= request.requested_flat.description%></p>
                  <span><%= request.requested_flat.user.first_name%> <%= request.requested_flat.user.last_name %><span>
                  <p> <%= request.status %></p>
                  <p><%= request.requested_flat.address%></p>
                  <p><%= request.start_date %></p>
                  <p><%= request.end_date %></p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>





